<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", alt: "Logo L'Étamine", class: "footer-logo-img" %>
      <% end %>
    </div>

   <div class="footer-info-pratiques">
      <h3>Infos pratiques</h3>
      <p>Téléphone : <a href="tel:+3322723654" class="footer-link">03 22 72 36 54</a></p>
      <p>Email : <a href="mailto:contact@letamine.fr" class="footer-link">contact@letamine.fr</a></p>
      <p>Adresse : 7 rue de villers, 80260 Flesselles</p>
    </div>

    <div class="footer-info">
      <p>&copy; <%= Time.current.year %> L'Étamine – Tous droits réservés</p>
    </div>
  </div>
</footer>
