<div class="user-container user-widget" data-controller="dropdown">
  <% if user_signed_in? %>
    <a href="#" class="user-info" data-action="click->dropdown#toggle">
      <i class="fa-solid fa-user"></i>
      <span class="user-name"><%= current_user.first_name %></span>
      <i class="fa-solid fa-caret-down caret"></i>
    </a>

    <!-- Menu caché -->
    <div class="user-dropdown hidden" data-dropdown-target="menu">
      <%= link_to "Mes commandes", orders_path, class: "dropdown-item" %>
      <%= button_to "Déconnexion", destroy_user_session_path,
                    method: :delete,
                    class: "dropdown-item logout-btn" %>
    </div>
  <% else %>
    <%= link_to new_user_session_path, class: "user-icon", title: "Se connecter" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  <% end %>
</div>
