<div class="floating-back-button">
  <%= link_to root_path, class: "back-link" do %>
    <span>←</span>
    <%= image_tag "logo.png", alt: "Logo Etamine", class: "logo-small" %>
  <% end %>
</div>

<section class="about-page">
  <div class="about-container">
    <div class="portrait-wrapper">
      <%= image_tag "portrait.jpg", alt: "Portrait de la fondatrice", class: "portrait-image" %>
    </div>
    <div class="about-content">
      <h2 class="section-title">À propos</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget mi in mauris varius sodales. Proin in lorem at neque vehicula ultricies. In scelerisque facilisis nulla, in placerat magna fermentum nec. Curabitur nec turpis sed ligula fringilla cursus. Fusce condimentum laoreet nulla, et sagittis est efficitur ut.
      </p>
      <p>
        Integer nec magna sit amet turpis efficitur viverra. Nullam sed blandit lacus. Morbi vel augue at purus euismod tincidunt. Suspendisse eu arcu velit. Phasellus ut sem nec ligula ultricies dignissim ut ut nisi. Duis lacinia felis ac tincidunt accumsan. Pellentesque nec dignissim nulla.
      </p>
    </div>
  </div>
</section>
