default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: etamine_development

test:
  <<: *default
  database: etamine_test

production:
  primary: &primary_production
    <<: *default
    url: <%= ENV["DATABASE_URL"] %>

  #queue:
    #<<: *primary_production
    #migrations_paths: db/queue_migrate

  #cache:
    #<<: *primary_production
   # migrations_paths: db/cache_migrate

  #cable:
    #<<: *primary_production
    #migrations_paths: db/cable_migrate
