//pages

@import "pages/home";
@import "pages/about";
@import "pages/contact";
@import "pages/product_show";
@import "pages/cart";
@import "pages/cgv";
@import "pages/index_orders";
@import "pages/auth";
@import "pages/devise";
@import "pages/delivery_details.scss";
@import "pages/orders_admin.scss";
@import "pages/orders_show";
@import "pages/checkout";
@import "pages/galerie";
@import "pages/backoffice";


//components

@import "components/navbar";
@import "components/footer";
@import "components/boutique";
@import "components/cart";
@import "components/flash";
@import "components/delivery";
@import "components/checkout_progress";
@import "components/confirmation";
@import "components/popup";
@import "components/flatpickr";
@import "components/preview";
@import "components/flipbook";
@import "components/soft_confirm";
@import "components/orders.scss"
